<h1>Opensource citizens</h1>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
      <strong>
        Top contributors
      </strong>
    </div>
    <div class="panel-body">
      <% topContributors.forEach(function(user) { %><a href="/<%- user.username %>" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="top" data-content="<strong><%- user.name || user.username%></strong><br/><%- user.location %><hr/>Contibutor's karma: <strong><%- user.nishkamKarma %></strong><br/>Author's karma: <strong><%- user.kriyamanaKarma %></strong>"><img src="<%- user.avatar || 'http://placehold.it/80x80' %>" width="80" heigth="80" /></a><% }) %>
    </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
      <strong>
        Top authors
      </strong>
    </div>
    <div class="panel-body">
      <% topAuthors.forEach(function(user) { %><a href="/<%- user.username %>" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="top" data-content="<strong><%- user.name || user.username%></strong><br/><%- user.location %><hr/>Contibutor's karma: <strong><%- user.nishkamKarma %></strong><br/>Author's karma: <strong><%- user.kriyamanaKarma %></strong>"><img src="<%- user.avatar || 'http://placehold.it/80x80' %>" width="80" heigth="80" /></a><% }) %>
    </div>
    </div>
  </div>

</div>
<script>
  $(function() {
    $('a[data-toggle="popover"]').popover();
  });
</script>
