<h1>nodejs suburbs</h1>

<div class="row">
  <div class="col-md-12"><p style="text-align:left;"><span style="font-family:Helvetica;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;">Programming languages are represented as countries, git repositories are the cities and forks are citizens. No matter what real cities the users are from github users become citizens of their cities. This is a new world, an open source one which is being built around open source projects.</span></p><p style="text-align:left;"><span style="font-family:Helvetica;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;text-decoration:none;">&nbsp;</span></p></div>
</div>

<% cities.forEach(function(city) { %>
<%- city.name %>
<%- city.stars %>
<% }) %>


<div class="row">
  <div class="col-md-12">
    <h2>neighbours</h2>
    <% citizens.forEach(function(user) { %><a href="/<%- user.username %>" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="top" data-content="<strong><%- user.name || user.username%></strong><br/><%- user.location %><hr/>Contibutor's karma: <strong><%- user.nishkamKarma %></strong><br/>Author's karma: <strong><%- user.kriyamanaKarma %></strong>"><img src="<%- user.avatar ? user.avatar + '&s=160' : 'http://placehold.it/160x160' %>" width="80" heigth="80" /></a><% }) %>
  </div>
</div>

<h2>How can I get information about countries, cities and citizens?</h2>

<div class="col-md-5">
  <form action="">
    Just enter link to Github repository, language or user!<br>
    <input type="text" name="fname">
    <input type="submit" value="Go!">
  </form>
  <br>
  <b>OR</b>
  <button>Check your Karma!</button>
</div>

</div>


<script>
  $(function() {
    $('a[data-toggle="popover"]').popover();
  });
</script>
