<iframe src="http://nodeknockout.com/iframe/nodespots" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
</iframe>

<div class="row">
  <div class="col-md-12">
    <h2>Meet Node citizens</h2>
<div class="row">


    <% citizens.forEach(function(user) { %><a href="/<%- user.username %>" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="top" data-content="<strong><%- user.name || user.username%></strong><br/><%- user.location %><hr/>Contibutor's karma: <strong><%- user.nishkamKarma %></strong><br/>Author's karma: <strong><%- user.kriyamanaKarma %></strong>"><img src="<%- user.avatar ? user.avatar + '&s=160' : 'http://placehold.it/160x160' %>" width="80" heigth="80" /></a><% }) %>
 
  </div>
</div>
</div>



<br>
<br>

<div class="row">
  <div class="col-md-12">
    <h2> See Node cities</h2>
<br>

<div class="row">
<ul class="nav nav-pills">
  <% cities.forEach(function(city) { %>
  <li>
    <a href="/<%- city.name %>"> <%- city.name %>
    <span class="badge">
      <%- city.karma %>
    </span>
    </a>
  </li>
  <% }) %>
<li>

</li>
</ul>

 
</div>

</div>


</div>


<div class="row">
  <div class="col-md-12">
<h2>How to find citizen or city?</h2>
<br>

  <form action="">
    Just enter username or repository name from Github<br>
    <input type="text" name="fname">
    <input type="submit" value="Go!">
  </form>
<br><br><br>
</div>
</div>



<script>
  $(function() {
    $('a[data-toggle="popover"]').popover();
  });
</script>
