<!--
<%= repository.description || '' %>
-->

<hr />

<a href="https://github.com/<%= repository.name %>"><img src="/images/Github-Mark-64px.png" width="32" height="32" /></a> <strong><a href="/<%= repository.name %>"><%= repository.name %></a></strong><br/>
<abbr title="population">p</abbr>: <%- citizens.totalCount %> |
<abbr title="commits">c</abbr>: <%- commitsCount %> |
<abbr title="founded">f</abbr>: <%- moment(repository.createdAt).fromNow() %> |
<abbr title="updated">u</abbr>: <%- moment(repository.pushedAt).fromNow() %> |
<abbr title="settle rate">s</abbr>: <%- percent(citizens.totalCount / repository.forks) %> |
<abbr title="interest rate">i</abbr>: <%- percent(repository.forks / repository.stars) %>

<hr />
<% var ccs = 0 %>

<div class="row">
  <div class="col-md-3">
      <div style="width: 160px; height: 160px; margin:0 auto;">
        <img class="img-circle" width="160" heght="160" src="<%- avatar(citizens.mayor, 160) %>" />
      </div>
      <div class="caption">
        <center>
          <strong>
            <%- percent(citizens.mayor.count / commitsCount) %> of all commits
          </strong>
        </center>
          his other top contributions: ...
      </div>
  </div>
  <div class="col-md-3">
      <div style="width: 160px; height: 160px; margin:0 auto;">
        <% citizens.active.forEach(function(c,i) { ccs += c.count %><a
          href="/<%- c.u.login %>"
          data-toggle="popover"
          data-html="true"
          data-trigger="hover"
          data-placement="bottom auto"
          data-title="<%- c.u.name || c.u.login %></a>"
          data-content="Contributions: <%- c.count %> (<%- percent(c.count/commitsCount) %>)<br/> Current score: <%- c.formatWeight() %>"
        ><img class="img" width="40" heght="40" src="<%- avatar(c, 40) %>" alt="" /><%- ((i+1)%4===0)?'<br/>':'' %></a><% }) %>
      </div>
      <div class="caption">
        <center>
          <strong>
            <%- percent(ccs / commitsCount) %> of all commits
          </strong>
        </center>
          their other top contributions: ...
      </div>
  </div>
  <div class="col-md-6">
    <h3>Latest activity</h3>
    <% [].forEach(function(ci) { %>
    <div class="">
      <a href="https://github.com/<%- repository.name %>/commit/<%- ci.id %>">
        <%- ci.message %>
      </a>
    </div>
    <% }) %>
  </div>
</div>

<% JSON.stringify(repository, '  ', '  ') %>

<h2>Mayor</h2>
    <h1>
      <%- citizens.mayor.u.name %>
    </h1>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  <%- citizens.mayor.count %> contributions with total score of
  <%- Math.round(citizens.mayor.weight) %>
  </div>
</div>

<!--h2>City hall</h2>

<div class="row">
  <% citizens.active.forEach(function(c) { %>
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img class="img-circle" width="80" heght="80" src="<%- c.u && c.u.avatar ? c.u.avatar + '&s=160' : '/users/avatar/' + (c.u && c.u.login || c.userId) %>" />
      <div class="caption">
        <h3><a href="/<%- c.u.login %>"><%- c.u.name %></a><br/>
          <small><%- makeGutHubLink(c.u.login) %></small>
        </h3>
      <strong><%- c.count %></strong> contributions with total score of <strong><%- Math.round(c.weight) %></strong>
      </div>
    </div>
  </div>
  <% }) %>
</div-->
